#создала через vim файл с расширением .gitignore. В остальных редакторах не получлось создать,
#поскольку файлы начинающиеся с точки должна создавать система, а не юзер. Добавляю в этот файл#файлы, которые будут игнорироваться
bootstrap-4.1.3-dist
*_old
*_backup
Thumbs.db
.DS_Store 

